<h2><strong><%= @article.title %></strong></h2>
<p>
	<% unless @article.user.nil? %>
		Escrito por: <%= @article.user.email %>
	<% end %>
	<br>
	Visitas: <%= @article.visits_count %>
	<br>
	<% @article.categories.each do |category| %>
		<%= link_to category.name, category, style:"color:#{category.color};" %>
	<% end %>
</p>

<p>
	<h4><%= @article.body %></h4>
</p>

<div>
	<h3>Comentarios</h3>
	<%= render "comments/form" %>
	<ul>
		<% @article.comments.each do |comment| %>
			<li>
				<%= comment.body %> - <%= comment.user.email %>
			</li>
		<% end %>
	</ul>
<div>

<br>
<%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %>