<p>
	<h2><strong><%= @article.title %></strong></h2>
</p>

<% unless @article.user.nil? %>
<p>
	Escrito por: <%= @article.user.email %>
</p>
<% end %>

<p>
	Visitas: <%= @article.visits_count %>
</p>

<div>
	<h3>Comentarios</h3>
	<%= render "comments/form" %>
<div>

<p>
	<h4><%= @article.body %></h4>
</p>
<br>
<%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %>